
.barra{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 120px;
    height: 30px;
}

.boton{
    display: flex;
    justify-content: center;
    cursor:pointer;
    width: 100px; 
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
}
.search{
    padding-top: 10px;
}


