.fondo{
    /* background-color: gray; */
    padding: 60px;
}
.container{

    width: 500px;
    padding: 50px 50px;
    margin: auto;
    margin-top: 50px;
    left: 0;
    right: 0;
    display: block boxes;
    border: black;
    border-radius: 50px;
    background-image: url('https://a-static.besthdwallpaper.com/rick-and-morty-cartoon-character-rick-sanchez-wallpaper-800x600-109606_17.jpg'); 
    background-size: cover;  
}

.tituloRick{
    text-align: center;
    font: italic;
    font-size: 30px;
    color: white;
    display: block;
    left:0%;
    right: 0%;

}



.etiqEmail{
    display: block;
    padding: 15px;
    font-size: 25px;
    font-style: oblique;
    color: white;
}
.etiqPassword{
    display: block;
    padding: 15px;
    font-size: 25px;
    font-style: oblique;
    color: white;
}

.errors{
    font-size: 150px;
    font-style: italic;
    color:rgb(247, 243, 243);
    font: message-box
}
.boton{
    
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: aqua;
}