.contenedor{
    background-color:rgb(126, 175, 126);
    border: 9px solid rgb(177, 19, 216);
    color: greenyellow;
    width: 450px;
    height: 400px;
    margin-left: 450px;
}
.imagen{
    width: 300px;
    border: 1px solid rgb(177, 19, 216);
}