/* Contenedor de la card individual  */

.container{
    border: 3px solid rgb(177, 19, 216);
    background-color: rgb(126, 175, 126);
    border-radius: 10px;
    width: 200px;
    padding: 10 px;
    box-shadow: 0 0 15px black;
    margin: 15px;
    &:hover{
        box-shadow: 0 0 60px black;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Contenedor de la imagen */

.image{
    width: 170px;
    border:rgb(177, 19, 216) solid 1px;
    box-shadow: 0 0 px black;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Contenedor de los botones  */

.contBoton{
    /* border: 1px solid grey; */
    display: flex;
    justify-content: flex-end;
   
}

/* Boton de cierre */
.contBoton button{
    background-color: blueviolet;
    color: greenyellow;
    font: italic;
    border: 0px;
    border-radius: 10px;
    margin: 3px;
    width: 25px;
    &:hover{
        background-color: violet;
        display: flex;
        justify-content: flex-end;
        box-shadow: 0 0 20px black;
        margin-right: 7px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* Contenedor de las etiquetas en general */

.dataContainer{
    text-align: center;
    padding: 10px;
}
/* etiquetas h2 */
.dataContainer h2{
    margin: 2px;
    font-size: 25px;
    color: rgb(221, 255, 0);
}
/* etiquetas h4 */
.dataContainer h4{
    margin: 2px;
    font-size: 20px;
    color: rgb(221, 255, 0);
}