
.container{
    display: flex;
    margin: auto;
    width: 30%;
    margin-top: 0;
}

.container input{

    border-radius: 10px;
    height: 30px;
    width: 250px;
}
.container button{

    border-radius: 4px;
    height: 30px;
    padding: 1px;
    width: 70px;
    margin-bottom: 30px ;
}